[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JessieMcQueen
[access "refs/for/refs/*"]
	read = group user/JessieMcQueen
	push = group user/JessieMcQueen
	label-Code-Review = -2..+2 group user/JessieMcQueen
	label-Verified = -1..+1 group user/JessieMcQueen
	rebase = group user/JessieMcQueen
	removeReviewer = group user/JessieMcQueen
	submit = group user/JessieMcQueen
[access "refs/heads/*"]
	read = group user/JessieMcQueen
	create = group user/JessieMcQueen
	push = +force group user/JessieMcQueen
	pushMerge = group user/JessieMcQueen
[access "refs/tags/*"]
	push = group user/JessieMcQueen
	push = +force group user/JessieMcQueen
